.singlePoll {
  grid-column: 2/3;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }

.singlePoll > h2 {
  font-size: 2.6em;
  margin-bottom: 20px; }

.optionsForm {
  background-color: #7f5dc0;
  box-shadow: 2px 2px 5px #363636;
  padding: 20px;
  margin-bottom: 20px;
  min-width: 410px; }

.optionsForm > h2 {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 2em; }

.optionLabel {
  display: block;
  font-size: 1.35em;
  padding: 5px;
  cursor: pointer; }
  .optionLabel:hover {
    background-color: #6845aa; }

.optionLabel > input {
  margin: 0 10px 0 5px; }

.optionLabel > div {
  display: inline-block; }

.submitVoteButton {
  display: block;
  width: 150px;
  height: 38px;
  margin-top: 24px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #a9a9a9;
  font-size: 1.35em;
  box-shadow: 2px 2px 5px #414141;
  color: black;
  background-color: #16e766;
  border: 0;
  cursor: pointer;
  transition: 200ms; }
  .submitVoteButton:hover {
    background-color: #31fa7e; }
  .submitVoteButton:disabled {
    background-color: rgba(4, 252, 99, 0.5);
    color: rgba(80, 80, 80, 0.5);
    cursor: not-allowed; }

.viewResults {
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: #f3be11;
  font-weight: bold;
  text-shadow: 1px 1px 5px #1a1a1a;
  font-size: 1em;
  box-shadow: 2px 2px 5px #414141;
  transition: 200ms; }
  .viewResults:hover {
    background-color: #ffd517; }

@media only screen and (max-width: 500px) {
  .singlePoll > h2 {
    font-size: 1.5em; }
  .optionsForm > h2 {
    font-size: 1.4em; }
  .optionLabel {
    font-size: 1em; }
  .optionsForm {
    min-width: 220px;
    max-width: 220px; }
  .viewResults {
    padding: 7px; } }

@media only screen and (max-width: 300px) {
  .singlePoll > h2 {
    font-size: 1em; }
  .optionsForm > h2 {
    font-size: 0.9em; }
  .optionLabel {
    font-size: 0.7em; }
  .optionsForm {
    min-width: 200px;
    max-width: 200px;
    padding: 10px; } }
