.singlePoll {
  grid-column: 2/3;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singlePoll > h2 {
  font-size: 2.6em;
  margin-bottom: 20px;
}

.optionsForm {
  background-color: rgb(127, 93, 192);
  box-shadow: 2px 2px 5px rgb(54, 54, 54);
  padding: 20px;
  margin-bottom: 20px;
  min-width: 410px;
}
.optionsForm > h2 {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 2em;
}

.optionLabel {
  display: block;
  font-size: 1.35em;
  padding: 5px;
  cursor: pointer;
  &:hover {
    background-color: rgb(104, 69, 170);
  }
}

.optionLabel > input {
  margin: 0 10px 0 5px;
}

.optionLabel > div {
  display: inline-block;
}

.submitVoteButton {
  display: block;
  width: 150px;
  height: 38px;
  margin-top: 24px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #a9a9a9;
  font-size: 1.35em;
  box-shadow: 2px 2px 5px rgb(65, 65, 65);
  color: black;
  background-color: rgb(22, 231, 102);
  border: 0;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    background-color: rgb(49, 250, 126);
  }
  &:disabled {
    background-color: rgba(4, 252, 99, 0.5);
    color: rgba(80, 80, 80, 0.5);
    cursor: not-allowed;
  }
}

.viewResults {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  background-color: rgb(243, 190, 17);
  font-weight: bold;
  text-shadow: 1px 1px 5px #1a1a1a;
  font-size: 1em;
  box-shadow: 2px 2px 5px rgb(65, 65, 65);
  transition: 200ms;
  &:hover {
    background-color: rgb(255, 213, 23);
  }
}

@media only screen and (max-width: 500px) {
  .singlePoll > h2 {
    font-size: 1.5em;
  }
  .optionsForm > h2 {
    font-size: 1.4em;
  }
  .optionLabel {
    font-size: 1em;
  }
  .optionsForm {
    min-width: 220px;
    max-width: 220px;
  }
  .viewResults {
    padding: 7px;
  }
}
@media only screen and (max-width: 300px) {
  .singlePoll > h2 {
    font-size: 1em;
  }
  .optionsForm > h2 {
    font-size: 0.9em;
  }
  .optionLabel {
    font-size: 0.7em;
  }
  .optionsForm {
    min-width: 200px;
    max-width: 200px;
    padding: 10px;
  }
}