.PpollDiv {
  color: white;
  display: grid;
  grid-template-columns: 1fr 5fr;
  text-shadow: 1px 1px 4px black;
}
.PpollDiv div:first-child {
  font-size: 0;
}
.Titles > h1 {
  font-size: 16em;
  line-height: 1em;
  margin-top: 4px;
}
.Titles > h2 {
  font-size: 3em;
  margin-left: 17px;
}
.Titles > h3 {
  font-size: 1.5em;
  line-height: 2em;
  margin-left: 20px;
}

@media only screen and (max-width: 830px) {
  .PpollDiv {
    grid-template-columns: 0fr 1fr;
  }
  .Titles > h1 {
    font-size: 10em;
  }
  .Titles > h2 {
    font-size: 2em;
    margin-left: 0px;
  }
  .Titles > h3 {
    font-size: 1em;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 590px) {
  .Titles > h1 {
    font-size: 6em;
    margin-top: 4px;
  }
  .Titles > h2 {
    font-size: 1.3em;
  }
  .Titles > h3 {
    font-size: 0.6em;
  }
}
