html{
  background: url("../../../img/bg.jpg");
  background-size: cover;
}

.LandingPageDiv {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
}
.left {
  grid-column: 1/2;
  background-color: rgb(136, 114, 235);
}
.right {
  grid-column: 2/3;
  background-color: rgb(162, 141, 255);
  display: grid;
  grid-template-rows: 400px 400px;
}
@media only screen and (max-width: 830px) {
  .LandingPageDiv {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .left {
    background-color: rgb(136, 114, 235);
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    text-align: center;
  }
  .right {
    background-color: rgb(162, 141, 255);
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    text-align: left;
    grid-template-rows: 280px 280px;
  }
}