html {
  background: url("../../../img/bg.jpg");
  background-size: cover; }

.LandingPageDiv {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh; }

.left {
  grid-column: 1/2;
  background-color: #8872eb; }

.right {
  grid-column: 2/3;
  background-color: #a28dff;
  display: grid;
  grid-template-rows: 400px 400px; }

@media only screen and (max-width: 830px) {
  .LandingPageDiv {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
  .left {
    background-color: #8872eb;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    text-align: center; }
  .right {
    background-color: #a28dff;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    text-align: left;
    grid-template-rows: 280px 280px; } }
