.errorPageDiv {
  background-color: #8872eb;
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .errorPageDiv h2 {
    margin: 50px auto 20px;
    font-size: 2.4em;
    text-align: center;
    text-shadow: 1px 1px 2px #303030; }
    .errorPageDiv h2 span {
      color: #e70000; }
  .errorPageDiv a {
    margin: 0 auto;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-shadow: 1px 1px 2px #303030;
    background-color: #f3be11;
    transition: 200ms; }
    .errorPageDiv a:hover {
      background-color: #ffd517; }
