.errorPageDiv {
  background-color: #8872eb;
  height: 100vh;
  display: flex;
  flex-direction: column;
  h2 {
    margin: 50px auto 20px;
    font-size: 2.4em;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(48, 48, 48);
    span {
      color: rgb(231, 0, 0);
    }
  }
  a {
    margin: 0 auto;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-shadow: 1px 1px 2px rgb(48, 48, 48);
    background-color: rgb(243, 190, 17);
    transition: 200ms;
    &:hover {
      background-color: rgb(255, 213, 23);
    }
  }
}
