.CreatePollPage {
  display: grid;
  grid-template-rows: 54px calc(100vh - 54px); }

.headerDiv {
  grid-row: 1/2; }

.userPollsDiv {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  background: url("../../../img/bg.jpg");
  background-size: cover;
  background-position-y: -150px;
  height: 100vh; }

.newPollFormDiv {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%); }

.hiddenNewPollDiv {
  transform: translate(-50%, -420px);
  transition: 300ms; }

.visibleNewPollDiv {
  transform: translate(-50%, 5px);
  transition: 300ms; }

@media only screen and (max-width: 1665px) {
  .userPollsDiv {
    background-position-y: 0px; } }
