.SinglePollPageDiv {
  display: grid;
  grid-template-rows: 54px calc(100vh - 54px);
}

.PollHeaderDiv {
  grid-row: 1/2;
}

.SinglePollDiv {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  background: url("../../../img/bg.jpg");
  background-size: cover;
  background-position-y: -150px;
  height: 100vh;
}

@media only screen and (max-width: 1665px) {
  .SinglePollDiv {
    background-position-y: 0px;
  }
}
