.option {
  display: block;
  width: 80%;
}
.addOptionButton {
  grid-column: 1/3;
  justify-self: start;
  width: 100px;
  height: 32px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #a9a9a9;
  box-shadow: 2px 2px 3px rgb(65, 65, 65);
  color: rgb(32, 32, 32);
  background-color: rgb(243, 190, 17);
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 213, 23);
    transition: 200ms;
  }
  &:disabled {
    background-color: gray;
    color: rgb(153, 153, 153);
    cursor: initial;
  }
}

.newPollSpan {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.4em;
  line-height: 0.8em;
  cursor: pointer;
}

@media only screen and (max-width: 670px) {
  .addOptionButton {
    width: 80px;
    height: 26px;
    font-size: 0.8em;
  } 
}

@media only screen and (max-width: 460px) {
  .addOptionButton {
    width: 60px;
    height: 26px;
    font-size: 0.6em;
  } 
}