.newPollForm {
  width: 500px;
  background-color: rgb(225, 213, 255);
  box-shadow: 3px 3px 6px rgb(46, 46, 46);
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
}

.newPollForm > h2:first-child {
  grid-column: 1/3;
  font-size: 2em;
}
.newPollForm > input:nth-child(2) {
  grid-column: 1/3;
  font-size: 1.3em;
  margin: 8px 0 20px 0;
}

.newPollForm input {
  padding: 5px;
  margin: 4px 0;
  font-size: 1em;
  border: 0;
}

.inputDiv > .newPollFormSubmit {
  display: block;
  width: 150px;
  height: 38px;
  margin-top: 24px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #a9a9a9;
  font-size: 1.35em;
  box-shadow: 2px 2px 5px rgb(65, 65, 65);
  color: black;
  background-color: rgb(22, 231, 102);
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: rgb(49, 250, 126);
    transition: 200ms;
  }
  &:disabled {
    background-color: rgba(4, 252, 99, 0.5);
    color: rgba(80, 80, 80, 0.5);
    cursor: not-allowed;
  }
}

@media only screen and (max-width: 670px) {
  .newPollForm {
    width: 375px;
  }
  .newPollForm > h2:first-child {
    font-size: 1.7em;
  }
  .newPollForm > input:nth-child(2) {
    font-size: 1em;
  }
  .newPollForm input {
    font-size: 0.8em;
  }
  .inputDiv > .newPollFormSubmit{
    width: 125px;
    height: 32px;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 460px) {
  .newPollForm {
    width: 220px;
  }
  .newPollForm > h2:first-child {
    font-size: 1.3em;
  }
  .newPollForm > input:nth-child(2) {
    font-size: 0.7em;
  }
  .newPollForm input {
    font-size: 0.5em;
  }
  .inputDiv > .newPollFormSubmit{
    width: 80px;
    height: 30px;
    font-size: 1em;
  }
}