.header {
  background-color: #8872eb;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px; }

.header h2 {
  display: inline-block;
  font-size: 1.85em; }

.header > button {
  display: inline-block;
  font-family: "Karla", sans-serif;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px #a9a9a9;
  color: black;
  width: 100px;
  height: 32px;
  border: 0;
  box-shadow: 1px 1px 4px gray;
  font-weight: bold;
  justify-self: center;
  cursor: pointer; }

.header > button:nth-child(2) {
  background-color: #f3be11;
  transition: 200ms; }
  .header > button:nth-child(2):hover {
    background-color: #ffd517; }

.header > button:nth-child(3) {
  justify-self: end;
  color: white;
  text-shadow: 1px 1px 1px #777777;
  background-color: #2e4279;
  transition: 200ms; }
  .header > button:nth-child(3):hover {
    background-color: #385196; }

@media only screen and (max-width: 460px) {
  .header > button {
    font-size: 0.9em;
    width: 70px;
    height: 32px; } }
