.resultDiv {
  grid-column: 2/3;
  padding-top: 15px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 700px; }

.resultDiv > h2 {
  grid-column: 1/3;
  font-size: 2.2em;
  text-align: center; }

.horizontalBarDiv {
  grid-column: 1/2; }

.pieDiv {
  grid-column: 2/3; }

@media only screen and (max-width: 1525px) {
  .resultDiv {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr; }
  .horizontalBarDiv {
    grid-column: 1/2;
    padding-bottom: 100px;
    min-width: 80%;
    justify-self: center; }
  .pieDiv {
    grid-column: 1/2;
    max-width: 720px;
    min-width: 80%;
    justify-self: center; } }

@media only screen and (max-width: 1125px) {
  .horizontalBarDiv {
    padding-bottom: 40px;
    min-width: 0; } }

@media only screen and (max-width: 925px) {
  .horizontalBarDiv {
    padding-bottom: 40px;
    min-width: 100%; }
  .pieDiv {
    min-width: 100%; } }

@media only screen and (max-width: 600px) {
  .resultDiv > h2 {
    font-size: 1em; }
  .horizontalBarDiv {
    padding-bottom: 20px; } }
