.UserPollsDiv {
  grid-column: 2/3;
  padding: 20px;
  color: white;
}

.UserPollsDiv > h2 {
  margin-left: 10px;
}

.UserPollsDiv > button {
  margin-bottom: 30px;
}

.allPolls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
}

.ppollDeleteButton {
  display: inline-block;
  width: 52px;
  height: 24px;
  font-weight: bold;
  background-color: rgb(180, 29, 29);
  border: 2px solid rgb(219, 38, 38);
  color: white;
  margin: 0 0 10px 10px;
  border-radius: 4px;
  transition: 200ms;
  cursor: pointer;
  &:hover {
    background-color: rgb(219, 38, 38);
    border-color: rgb(255, 72, 72);
  }
}

.ppollLinkDiv {
  display: grid;
  grid-auto-rows: 1fr 24px;
}

.ppollLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(90, 60, 160);
  border: 2px solid rgb(160, 131, 240);
  font-size: 1.4em;
  border-radius: 6px;
  display: inline-block;
  transition: 250ms;
  padding: 40px;
  margin: 20px 10px 10px;
  box-shadow: 2px 2px 6px black;
  text-shadow: 1px 1px 6px black;
  &:hover {
    background-color: rgb(105, 72, 184);
    border: 2px solid rgb(170, 139, 255);
  }
}

@media only screen and (max-width: 900px) {
  .ppollLink{
    padding:15px;
    font-size: 1em;
    min-width: 155px;
  }
}

@media only screen and (max-width: 670px) {
  .allPolls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }
}

@media only screen and (max-width: 460px) {
  .allPolls {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
  }
}