.UserPollsDiv {
  grid-column: 2/3;
  padding: 20px;
  color: white; }

.UserPollsDiv > h2 {
  margin-left: 10px; }

.UserPollsDiv > button {
  margin-bottom: 30px; }

.allPolls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start; }

.ppollDeleteButton {
  display: inline-block;
  width: 52px;
  height: 24px;
  font-weight: bold;
  background-color: #b41d1d;
  border: 2px solid #db2626;
  color: white;
  margin: 0 0 10px 10px;
  border-radius: 4px;
  transition: 200ms;
  cursor: pointer; }
  .ppollDeleteButton:hover {
    background-color: #db2626;
    border-color: #ff4848; }

.ppollLinkDiv {
  display: grid;
  grid-auto-rows: 1fr 24px; }

.ppollLink {
  text-decoration: none;
  color: white;
  background-color: #5a3ca0;
  border: 2px solid #a083f0;
  font-size: 1.4em;
  border-radius: 6px;
  display: inline-block;
  transition: 250ms;
  padding: 40px;
  margin: 20px 10px 10px;
  box-shadow: 2px 2px 6px black;
  text-shadow: 1px 1px 6px black; }
  .ppollLink:hover {
    background-color: #6948b8;
    border: 2px solid #aa8bff; }

@media only screen and (max-width: 900px) {
  .ppollLink {
    padding: 15px;
    font-size: 1em;
    min-width: 155px; } }

@media only screen and (max-width: 670px) {
  .allPolls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start; } }

@media only screen and (max-width: 460px) {
  .allPolls {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start; } }
