@import "../../styles/mixins";
.RegisterDiv {
  font-size: 1.3em;
  padding: 30px;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.registerForm input {
  display: block;
  border: 0;
  margin: 10px 10px 0 0;
  padding: 10px 12px 10px 10px;
  font-size: 0.66em;
  box-shadow: 2px 2px 6px #505050;
}

.registerForm input[type="submit"] {
  background-color: rgb(49, 202, 100);
  font-weight: bold;
  color: white;
  &:hover {
    background-color: rgb(51, 190, 98);
  }
}

.registerForm > p {
  margin-top: 10px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 4px black;
  font-size: 0.8em;
}

@media only screen and (max-width: 830px) {
  .RegisterDiv {
    font-size: 1em;
  }
  .registerForm input {
    padding: 8px 10px 8px 8px;
  }
}
