@import "../../styles/mixins";
.LoginDiv {
  font-size: 1.3em;
  padding: 30px;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.loginForm input {
  display: block;
  border: 0;
  margin: 10px 10px 0 0;
  padding: 10px 12px 10px 10px;
  font-size: 0.66em;
  box-shadow: 2px 2px 6px #505050;
}

.loginForm input[type="submit"] {
  background-color: rgb(49, 202, 100);
  font-weight: bold;
  color: white;
  &:hover {
    background-color: rgb(51, 190, 98);
  }
}
.loginButton {
  margin: 10px 10px 0 0;
  border: 0;
  padding: 10px;
  width: 40px;
  height: 40px;
}
.google {
  background: url(../../img/google.png);
  background-size: 40px 40px;
  &:hover {
    @include hoverShadow(40px);
  }
}
.facebook {
  background: url(../../img/facebook.png);
  background-size: 40px 40px;
  &:hover {
    @include hoverShadow(40px);
  }
}
.loginForm > p {
  margin-top: 10px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 4px black;
  font-size: 0.8em;
}

@media only screen and (max-width: 830px) {
  .LoginDiv{
    font-size: 0.8em;
  }
  .loginForm input {
    padding: 8px 10px 8px 8px;
    font-size: 0.8em;
  }

  .loginButton {
    margin: 10px 10px 0 0;
    border: 0;
    padding: 10px;
    width: 30px;
    height: 30px;
  }

  .google {
    background-size: 30px 30px;
  }
  .facebook {
    background-size: 30px 30px;
  }
}

@media only screen and (max-width: 590px) {

}
