.LoginDiv {
  font-size: 1.3em;
  padding: 30px;
  color: white;
  text-shadow: 1px 1px 4px black; }

.loginForm input {
  display: block;
  border: 0;
  margin: 10px 10px 0 0;
  padding: 10px 12px 10px 10px;
  font-size: 0.66em;
  box-shadow: 2px 2px 6px #505050; }

.loginForm input[type="submit"] {
  background-color: #31ca64;
  font-weight: bold;
  color: white; }
  .loginForm input[type="submit"]:hover {
    background-color: #33be62; }

.loginButton {
  margin: 10px 10px 0 0;
  border: 0;
  padding: 10px;
  width: 40px;
  height: 40px; }

.google {
  background: url(../../img/google.png);
  background-size: 40px 40px; }
  .google:hover {
    transition: 200ms;
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.2); }

.facebook {
  background: url(../../img/facebook.png);
  background-size: 40px 40px; }
  .facebook:hover {
    transition: 200ms;
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.2); }

.loginForm > p {
  margin-top: 10px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 4px black;
  font-size: 0.8em; }

@media only screen and (max-width: 830px) {
  .LoginDiv {
    font-size: 0.8em; }
  .loginForm input {
    padding: 8px 10px 8px 8px;
    font-size: 0.8em; }
  .loginButton {
    margin: 10px 10px 0 0;
    border: 0;
    padding: 10px;
    width: 30px;
    height: 30px; }
  .google {
    background-size: 30px 30px; }
  .facebook {
    background-size: 30px 30px; } }
