.resultsDiv {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  background: url("../../../img/bg.jpg");
  background-size: cover;
  background-position-y: -150px;
  height: 100vh;
}

.resultsDiv > p {
  grid-column: 2/3;
}

@media only screen and (max-width: 1665px) {
  .resultsDiv {
    background-position-y: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .resultsDiv {
    grid-template-columns: 1fr 8fr 1fr;
  }
}
